#button {
}

#errorText {
	-fx-font: 14px Tahoma;
	-fx-stroke: black;
	-fx-stroke-width: 1;
	-fx-text-alignment: center;	
}

#root {
	-fx-background-color: #2f4f4f;
	-fx-padding: 15;
	-fx-spacing: 10;
}