#loadButton {
	-fx-background-image: url("loadButton.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
}

#exitButton {
	-fx-background-image: url("exitButton.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
}

#loadWebButton {
	-fx-background-image: url("loadWebButton.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
}

#shareWebButton {
	-fx-background-image: url("shareWebButton.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
}

#pausePlayButton {
	-fx-background-image: url("pausePlayButton.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
}

#keyboardButton {
	-fx-background-image: url("keyboardButton.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 30 30;
}

#container {
    -fx-padding: 3px;
    -fx-background-color: 
        linear-gradient(#ffffff 0%, #ced3da 4%, #c1c6cf 17%, 
        #b4bbc5 18%, #e5ebeb 100%);
}

#tooltip {
	-fx-background-radius: 2 2 2 2;
}