.vbox {
    -fx-background-color: #00008b;
	-fx-background-image: url("voogaSplash.PNG");
	-fx-background-position: center center;
	-fx-background-size: 500 500;
    -fx-background-repeat: no-repeat;
    -fx-padding: 30;
    -fx-spacing: 25;
    -fx-size: 500 500;
}

#text {
	-fx-font-size: 22px;
	-fx-stroke: white;
	-fx-stroke-width: 2;
}

#button {
	-fx-background-color: 
        #3c7fb1,
        linear-gradient(#fafdfe, #e8f5fc),
        linear-gradient(#eaf6fd 0%, #d9f0fc 49%, #bee6fd 50%, #a7d9f5 100%);
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}